$primary-color: #6ed3fc;
$accent-color: #9068be;
$bg-color-dark: #f7f9fd;
$bg-color-light: #ffffff;
$bg-color-dark-high: #707880;
$font-color: #646a73;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$font-size-default: 15px;
$font-size-xl: 45px;
$font-size-lg: 34px;
$font-size-md: 24px;
$font-size-sm: 18px;
$font-size-xs: 13px;

$font-weight-default: 400;
$font-weight-bold: 700;
